@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');

* {
    font-family: "Rochester", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --roxo-mai: rgb(167, 112, 207);
    --preto: black;
    --mono1: #9074A4;
    --mono2: #736A7A;
    --mono3: #473C4F;
    --mono4: #2A1E33;
    --sombra1: #A06BC6;
    --sombra2: #8559A4;
    --sombra3: #694682;
    --sombra4: #694682;
}

html {
    min-height: 100vh;
}

body {
    background-image: linear-gradient(to bottom, var(--roxo-mai), var(--sombra3));
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.carta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
    padding: 35px;
    max-width: 480px;
    background-color: var(--mono3);
    height: 100%;
    color: white;
    border-radius: 20px;
    border: 3px dotted var(--sombra2);
}

.carta > p {
    text-align: justify;
    text-indent: 20px;
}