@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root{
    --roxo-mai: rgb(167, 112, 207);
    --preto: black;
    --mono1: #9074A4;
    --mono2: #736A7A;
    --mono3: #473C4F;
    --mono4: #2A1E33;
    --sombra1: #A06BC6;
    --sombra2: #8559A4;
    --sombra3: #694682;
    --sombra4: #694682;
}

html {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--roxo-mai), var(--sombra3));
}

body {
    height: 100vh;
    max-width: 375px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.726);
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
}

.titulo h1 {
    text-align: center;
    animation: pulsar 2s ease-in-out infinite;
}

.parabens {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../imagens-p/espaco.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
}

.saturno {
    transform: scale(0.9);
    width: 99%;
    animation: saturn 14s linear infinite;
}

.astronauta1 {
    position: absolute;
    top: 15%;
    left: -25%;
    width: 25%;
}

.astronauta2 {
    position: absolute;
    bottom: 15%;
    left: 100%;
    width: 25%;
}

.astro1 {
    animation: astro1 20s linear infinite;
}

.astro2 {
    animation: astro2 20s linear infinite;
}

@keyframes saturn {
    0%{
        transform: rotate(0deg);
        transform: scale(1);
    }
    25% {
        transform: rotate(-1deg);
        transform: scale(0.99);
    }
    50% {
        transform: rotate(0deg);
        transform: scale(0.98);
    }
    75% {
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(0deg);
        transform: scale(1);
    }
    
}

@keyframes astro1 {
    go {
        left: -25%;
    }
    to {
        left: 100%;
        transform: rotate(360deg);
    }
}

@keyframes astro2 {
    go {
        left: 100%;
    }
    to {
        left: -25%;
        transform: rotate(-360deg);
    }
}

@keyframes pulsar {
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}